/*NULL style*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

html {
    font-family: 'Montserrat', sans-serif;
}



/*----------HEADER------------------------*/
header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 56px;
    z-index: 100;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container-col {
    display: flex;
    align-items: center;
}

.header-container-col__avatar{
    width: 36px;
    height: 36px;
    background: url('../img/header/ava.svg') 0 0 no-repeat;
    scale: 1.2;
    transition: all 0.5s;
}

.header-container-col__avatar:hover {
    scale: 1.4;
    transition: all 0.5s;
    cursor: pointer;
}


.header-container-col__search {
    width: 20px;
    height: 20px;
    background: url('../img/header/search icon.svg') 0 0 no-repeat;
    margin: 0 40px 0 0;
    transition: all 0.5s;
}

.header-container-col__search:hover {
    scale: 1.2;
    transition: all 0.5s;
    cursor: pointer;
}


.header-container-col__cart {
    margin: 0 40px 0 0;
    transition: all 0.5s;
    width: 20px;
    height: 20px;
    background: url('../img/header/shopping-cart.svg') 0 0 no-repeat;
}

.header-container-col__cart:hover {
    scale: 1.2;
    transition: all 0.5s;
    cursor: pointer;
}


.btn {
    padding: 8px 32px;
    font-family: "Nunito";
    font-weight: 700;
    line-height: 20px;
    background-color: #fff;
    transition: all 0.5s;
    margin: 0px 10px 0px 0px;
}

.btn a {
    color: #156963;
}

.btn:hover {
    background-color: #156963;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.5s;
}
.btn:hover a {
    color: #fff;
}

.header-container-col__signUp {}

.header-container-col__signIn {}




/*--------------------*/
.main-block {
    margin: 0px 0px 80px 0px;
}

.main-block__slider {}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.swiper-slide__container {
    display: flex;
    align-items: center;
}

.swiper-slide__column {
    width: 100%;
    flex-grow: 1;
}

.slide-image {
    width: 600px;
    height: 100vh;
    object-fit: cover;
}

.swiper-slide__infobtn {
    display: flex;
    flex-direction: column;

}

.swiper-slide__info {
    display: flex;
    flex-direction: column;
    margin: 0px 75px 100px 0px;
}

.swiper-slide__title {
    font-weight: 500;
    font-size: 68px;
    line-height: 83px;
    color: #156963;
    margin: 0px 0px 20px 0px;

}

.swiper-slide__text {
    width: 490px;
    font-size: 18px;
    line-height: 32px;
    color: #2c1500d4;
}

.swiper-prev-button {}

.swiper-button {
    background-color: #fff;
    padding: 40px;
    flex: 0 1 auto;
    transition: all 0.5s;
}

.swiper-button:hover {
    background-color: #156963;
    cursor: pointer;
    transition: all 0.5s;
}

.swiper-button:hover .swiper-prev-button__bottom {
    color: #fff;
    transition: all 0.5s;
}

.swiper-button:hover .swiper-next-button__bottom {
    color: #fff;
    transition: all 0.5s;
}

.swiper-next-button:hover .swiper-next-button__arrow {
    animation: jumpInfinite_right 1.5s infinite;
}

.swiper-prev-button:hover .swiper-prev-button__arrow {
    animation: jumpInfinite_left 1.5s infinite;
}


.swiper-prev-button__head {
    display: flex;
    align-items: center;
    position: relative;
}

.swiper-prev-button__arrow {
    margin: 0px 10px 0px 0px;
    position: absolute;
    left: 0;
}

.swiper-prev-button__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #999999;
    margin: 0px 0px 0px 30px;
}

.swiper-prev-button__bottom {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #156963;
}

.swiper-slide__buttons {
    display: flex;
}

.swiper-next-button {}

.swiper-next-button__head {
    display: flex;
    align-items: center;
}

.swiper-next-button__arrow {
    margin: 0px 0px 0px 10px;
    order: 2;
    rotate: 180deg;

}

.swiper-next-button__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #999999;
}

.swiper-next-button__bottom {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #156963;
}


/*--------------------*/


.benefits {
    margin: 0px 0px 80px 0px;
}
.benefits__container {
    display: flex;
    justify-content: space-around;
    
}
.benefits__item {
}
.benefits-item {
    border: 1px solid #E0E0E0;
    padding: 20px 15px;
}
.benefits-item__head {
    display: flex;
    align-items: center;
    margin: 0px 0px 15px 0px;
}
.benefits-item__icon {
    margin: 0px 16px 0px 0px;
}
.benefits-item__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #156963;
}
.benefits-item__text {
    width: 230px;
    font-size: 10px;
    line-height: 16px;
    color: #2C1500;
}


@media (max-width:1200px) {
    header {
        padding: 15px 20px;
    }
    .header-container-col__avatar{
        background: url('../img/header/ava\ white.svg') 0 0 no-repeat;
    }
    
    .header-container-col__search {
        background: url('../img/header/search icon white.svg') 0 0 no-repeat;
    }
    .header-container-col__cart {
        background: url('../img/header/shopping-cart white.svg') 0 0 no-repeat;
    }
    .swiper-slide__container {
        flex-direction: column;
    }

    .swiper-slide__info {
        margin: 15px 0px 15px 0px;
        align-items: center;
        text-align: center;
    }

    .slide-image {
        width: 100%;
        height: 350px;
    }

    .swiper-slide__buttons {
        justify-content: center;
        align-items: center;
    }
    .benefits__container {
        flex-wrap: wrap;
    }
    .benefits-item {
        margin: 0px 0px 20px 0px;
    }
}

@media (max-width:600px) {
    header {
        padding: 15px 10px;
    }
    .header-container-col__search {
        margin: 0 20px 0 0; 
    }
    .header-container-col__cart {
        margin: 0 20px 0 0; 
    }
    .swiper-next-button__bottom {
        font-size: 24px;
        color: #fff;
    }
    .swiper-next-button__text {
        font-size: 18px;
    }
    .swiper-next-button__arrow {
        margin: 0px 0px 4px 10px;
        animation: jumpInfinite_right 1.5s infinite;
    }  
    .swiper-button {
        padding: 10px 20px;
        background-color: #156963;
    }
    .swiper-prev-button__bottom {
        font-size: 24px;
        color: #fff;
    }
    .swiper-prev-button__text {
        font-size: 18px;
    }
    .swiper-prev-button__arrow {
        margin: 0px 10px 4px 0px;
        animation: jumpInfinite_left 1.5s infinite;
    }  
    .swiper-slide__buttons {
        justify-content: space-around;
    }
    .swiper-slide__title {
        font-size: 45px;
        line-height: 50px;
    }
    .swiper-slide__text {
        font-size: 18px;
        line-height: 30px;
    }
    .swiper-slide__text {
        width: 100%;
        font-size: 18px;
        line-height: 32px;
        color: #2c1500d4;
    }
      
}
@media (max-width:420px) {
    .swiper-slide__text {
        padding: 0px 10px;
        font-size: 16px;
    }
    .swiper-next-button__bottom {
        display: none;
    }
    .swiper-prev-button__bottom {
        display: none;
    }
    .swiper-button {
        width: 50%;
    }
    .swiper-prev-button__head {
       justify-content: center;
    }
    .swiper-next-button__head {
        position: relative;
        justify-content: center;
     }
     .swiper-next-button__arrow {
        position: absolute;
        left: 65%;
        top: 15%;
        margin: 0px 0px 4px 10px;
        animation: jumpInfinite_right 1.5s infinite;
    }  
    .swiper-prev-button__arrow {
        position: absolute;
        right: 60%;
        top: 15%;
        margin: 0px 0px 4px 10px;
        animation: jumpInfinite_right 1.5s infinite;
    }  
}


@keyframes jumpInfinite_right {
    0% {
        margin-left: 10px;
    }

    50% {
        margin-left: 15px;
    }

    100% {
        margin-left: 10px;
    }
}

@keyframes jumpInfinite_left {
    0% {
        left: 0;
    }

    50% {
        left: -5px;
    }

    100% {
        left: 0;
    }
}